ion-content {
  --background: #0f1b1d
}

.container {
  margin-top: 60px;
}

.titulo {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 600;
}

.input-item {
  margin-bottom: 20px;
  --background: #ffffff;
  border-radius: 10px;
}

.btn-cadastrar {
  margin-top: 30px;
  --background: #223b3f;
  --border-radius: 12px;
  color: #93cfd8;
  font-weight: bold;
  height: 50px;
}



ion-item {
  --background: #ffffff;
  --color: #000000; 
  --border-radius: 12px;
}

ion-input {
  padding-left: 10px;
  --color: #000000; 
}

ion-label {
  color: #555 !important;
}